/* Fondo de página*/
.agregar-contenedor {
    flex: 1;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background: #e8ffe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;
    box-sizing: border-box;
}

.agregar-contenedor h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Mensaje */
.mensaje {
    background: #d1fae5;
    padding: 10px 18px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #065f46;
    font-weight: 600;
}

/* Tarjeta del formulario */
.form-producto {
    width: 40vw;
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
    padding: 35px 45px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

/* Inputs */
.form-producto input,
.form-producto textarea,
.form-producto select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cfd9e3;
    font-size: 15px;
}

.form-producto textarea {
    height: 120px;
    resize: vertical;
}

.fila {
    display: flex;
    gap: 15px;
}

.fila input,
.fila select {
    flex: 1;
}

/* Botón Guardar */
.btn-guardar {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-guardar:hover {
    background: #0b5ed7;
}

/* Botón Volver */
.btn-volver {
    background: #6c757d;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
}

.btn-volver:hover {
    background: #5a6268;
}

.grupo-select {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.btn-mini {
    padding: 6px 10px;
    background: #16a34a;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.nuevo-dato {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}