.carrito-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-top: 50px;
    box-sizing: border-box;
    background: #ffffff;
}

.carrito-table thead tr,
.carrito-table tbody tr {
    display: grid;
    grid-template-columns: 40px 3fr 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
}

.carrito-table th {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 18px;
    color: #444;
}

.producto-info {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.producto-info img {
    width: 85px;
    height: auto;
    object-fit: contain;
}

.producto-info span:first-of-type {
    display: block;
    font-size: 15px;
    color: #1b7c7b;
    font-weight: 500;
    line-height: 1.3;
}

.producto-info span:last-of-type {
    display: block;
    font-size: 12px;
    color: #555;
    line-height: 1.2;
    margin-top: 4px;
}

.remove-btn {
    background: none;
    border: none;
    font-size: 22px;
    color: #777;
    cursor: pointer;
}

.remove-btn:hover {
    color: #d12f2f;
}

/* Cantidad */
.carrito-table input[type="number"] {
    width: 45px;
    height: 28px;
    border: 1px solid #aaa;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}

.carrito-right {
    width: 340px;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 26px;
    background: #fff;
}

.carrito-right h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.resumen-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    font-size: 15px;
}

.resumen-row.total span:last-child {
    font-weight: bold;
    font-size: 18px;
}

.btn-comprar {
    width: 100%;
    background: #00a89d;
    padding: 14px;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #008f85;
}

html,
body {
    overflow-x: hidden;
}

.carrito-hero {
    width: 100%;
    background: #8bf5a2;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carrito-hero h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 2px;
    margin: 0;
}

.carrito-hero h1 span {
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.carrito-page {
    padding-top: 60px;
}

.carrito-table th,
.carrito-table td {
    padding: 12px 20px;
}